In [11]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('output/dados_processados.csv')
df.head()

,target_satisfeito,review_score,price,freight_value,customer_state,product_category_name,tempo_de_entrega_dias,review_comment_message
0,1,4,29.99,8.72,SP,utilidades_domesticas,8,"Não testei o produto ainda, mas ele veio corre..."
1,1,4,118.70,22.76,BA,perfumaria,13,Muito bom o produto.
2,1,5,45.00,27.20,RN,pet_shop,13,O produto foi exatamente o que eu esperava e e...
3,0,1,99.00,30.53,RJ,ferramentas_jardim,12,Aguardando retorno da loja
4,1,4,38.25,16.11,SP,brinquedos,11,Gostei do produto

In [13]:
df['target_satisfeito'].value_counts()

target_satisfeito
1    26564
0    13600
Name: count, dtype: int64

In [14]:
df.isnull().sum().sum()

np.int64(0)

In [15]:
df.shape

(40164, 8)

In [16]:
df.describe()

,target_satisfeito,review_score,price,freight_value,tempo_de_entrega_dias
count,40164.000000,40164.000000,40164.000000,40164.000000,40164.000000
mean,0.661388,3.730331,129.254289,20.707856,12.903371
std,0.473243,1.580357,196.713897,16.452269,10.690385
min,0.000000,1.000000,0.850000,0.000000,0.000000
25%,0.000000,3.000000,44.587500,13.380000,6.000000
50%,1.000000,5.000000,79.900000,16.740000,10.000000
75%,1.000000,5.000000,139.990000,22.080000,16.000000
max,1.000000,5.000000,6735.000000,375.280000,195.000000